@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
 
    fountfamily: Outfit;
}


.sidebar{
    /* justify-content: space-between;
    display: inline-flex;
    flex-direction: column; */

}
.sidebar img{
    width: 20px;
}